html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wraper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.conteiner {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: "Geologica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
}

.header {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  background-color: rgba(21, 21, 21, 0.85);
}

.header-contacts {
  background-color: rgb(21, 21, 21);
  position: relative;
}

.header__inner {
  padding-top: 24px;
  padding-bottom: 18px;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.menu__list {
  display: flex;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 26px;
}

.menu__list-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.header-nav {
  display: flex;
  gap: 18px;
  padding-top: 25px;
}

.cart {
counter-reset: myCounter;
display: flex;
align-items: center;
}

.main {
  flex-grow: 1;
}

.top {
  color: #fff;
  text-align: left;
  padding-top: 200px;
  padding-bottom: 50px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.swiper::after {
content: '';
background: rgba(21, 21, 21,.3);
position: absolute;
z-index: 5;
left: 0;
right: 0;
bottom: 0;
top: 0;
}

.swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #fff;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 12px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: #C53720;
}

.back {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.peculiarities {
  background-color: #0e0e0e;
}

.peculiarities-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding-bottom: 15px;
}

.peculiarities-item {
  text-align: center;
}

.peculiarities-item__img {
  margin-top: 41px;
  width: 100px;
  height: 100px;
}

.peculiarities-item__text {
  color: #fff;
  margin-top: 20px;
}

.goods {
  text-align: center;
}

.goods-title {
  font-size: 36px;
  font-weight: 700;
  max-width: 842px;
  padding-top: 88px;
  border-bottom: 3px #C53720 solid;
  margin: auto;
}

.goods-text {
  font-size: 24px;
  font-weight: 500;
  margin-top: 44px;
  max-width: 874px;
  display: inline-block;
}

.content {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 24px 24px;
  padding-bottom: 50px;
}

.content-card {
  text-align: center;
  border: 4px solid #C53720;
  color: #fff;
}  

.content-block {
  height: 200px;
  position: relative;
  padding: 0 0 58% 0;
}

.content-block img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.content-block__text {
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 20px;
  background: #1D1D1D;
}

.services {
  text-align: center;
   color: #fff;
}

.services-title {
  padding-top: 88px;
  text-transform: uppercase;
  border-bottom: 3px #C53720 solid;
  max-width: 111px;
  margin: auto;
}

.services-text {
 font-size: 24px;
 font-weight: 500;
 margin-top: 24px;
 max-width: 885px;
 display: inline-block;
}

.services-list {
  padding-top: 74px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services-item {
  text-align: center;
}

.services-item__textblock {
  margin-top: 20px;
}

.services-item__title {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.services-img {
  height: 500px;
  width: 551px;
  margin-top: 30px;
}

.company {
  color: #fff;
}

.company-title {
  padding-top: 88px;
  text-transform: uppercase;
  border-bottom: 3px #C53720 solid;
  max-width: 184px;
  margin: auto;
}

.company-content {
  display: flex;
  padding-top: 86px;
  padding-bottom: 98px;
  gap: 24px;
}

.img-company {
  width: 360px;
  height: 347px;
}

.company-text {
  border: 4px #C53720 solid;
  padding: 32px  32px 123px 32px;
  text-align: left;
  max-width: 744px;
  background: rgba(14, 14, 14,.6);}

.footer {
  background-color: #0e0e0e;
  padding: 54px 0 68px;
  color: #fff;
}


.footer__inner {
  display: flex;
  gap: 70px;
  justify-content: space-evenly;
}

.footer-block {
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.copyright {
  padding-top: 50px;
  width: 180px;
  opacity: 0.3;
}

.footer__menu {
  gap: 33px;
  display: flex;
  justify-content: space-around;
}

.footer__menu-list {
  max-width: 130px;
}

.footer__menu-title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 4px;
}

.footer__menu-link {
  font-size: 12px;
  opacity: 0.3;
}

.footer__menu-item + .footer__menu-item {
  padding-top: 16px;
}  

.contacts {
  padding: 100px 0 150px;
}

.contacts-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.contacts-text {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 100px;
}

.form {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__input {
  width: 270px;
  padding: 18px 20px;
  display: inline-block;
  border: 1px solid #C53720;
  font-family: "Geologica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 50px;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-family: "Geologica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  opacity: 0.5;
}

.form__textarea {
  width: 100%;
  resize: none;
  height: 290px;
  padding: 28px 20px;
  border: 1px solid #C53720;
  font-family: "Geologica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 50px;
}

.form__button {
color: #fff;
font-size: 16px;
font-weight: 500;
border: 1px #C53720 solid;
padding: 13px 61px;
margin: 0 auto;
background: #0e0e0e;
}

.catalog-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 47px;
}

.catalog-list {
  text-align: center;
  margin-bottom: 20px;
  background: #0e0e0e;    
}

.catalog__block {
  font-size: 18px;
  padding: 8px;
  background: #0e0e0e;
  border: none;
  color: #fff;
  width: 264px;
  font-weight: 700;
  cursor: pointer;
  font-family: Geologica;
}

.catalog__block-active {
  background: #C53720;
}

.catalog-cards__item {
display: none;
grid-template-columns: repeat(3, 1fr);
gap: 40px 40px;
padding-bottom: 24px;
}

.catalog-cards__item.catalog-cards__item-active {
  display: grid;
}

.card {
  text-align: center;
  border: 4px solid #C53720;
  border-bottom: 0px;
}

.card-img {
  width: 100%;
  display: block;
}

.card-description {
  color: #fff;
  background: #0e0e0e;
}

.card-title {
  font-size: 20px;
  padding: 20px 12px 0 12px;
}

.card-price {
  display: flex;
  justify-content: center;
}

.card-text {
  font-size: 28px;
  padding: 12px;
  font-weight: bold;
}

.card-button {
  color: #C53720;
  font-size: 14px;
  font-weight: 700;
  border: 3px #C53720 solid;
  padding: 12px 20px;
  background: #0e0e0e;
  display: block;
  border-right: 0px;
  border-left: 0px;
}

.catalog-text {
text-align: left;
max-width: 841px;
margin: auto;
padding-top: 12px;
}

.text-item {
  display: flex;
  gap: 8px;
  padding-top: 12px;
  max-width: 841px;
  margin: auto;
  align-items: center;
}

.goodbye-text {
  padding-bottom: 88px;
}

@media (max-width: 1140px) {
  .goods-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* <div class="content-card">
                <div class="content-block">
                  <img src="images/Электроника.jpg" alt="">
                  </div>
                  <p class="content-block__text">Электроника</p>
              </div>
              <div class="content-card">
                <div class="content-block">
                <img src="images/Запчасти для то.jpg" alt="">
                </div>
                  <p class="content-block__text">Запчасти для то</p>
              </div>
              <div class="content-card">
                <div class="content-block">
                  <img src="images/масла.jpg" alt="">
                  </div>
                  <p class="content-block__text">Масла и жидкости</p>
              </div>
              <div class="content-card">
                <div class="content-block">
                  <img src="images/шины.jpg" alt="">
                  </div>
                  <p class="content-block__text">шины</p>
              </div>
              <div class="content-card">
                <div class="content-block">
                  <img src="images/диски.jpg" alt="">
                  </div>
                  <p class="content-block__text">диски</p>
              </div>
              <div class="content-card">
                <div class="content-block">
                  <img src="images/щетки стеклоочистителя.jpg" alt="">
                  </div>
                  <p class="content-block__text">щетки стеклоочистителя</p>
              </div>
              <div class="content-card">
                <div class="content-block">
                  <img src="images/аккумуляторы.jpg" alt="">
                  </div>
                  <p class="content-block__text">аккумуляторы</p>
              </div>
               <div class="content-card">
                <div class="content-block">
                  <img src="images/инструменты.jpeg" alt="">
                  </div>
                  <p class="content-block__text">инструменты</p> */